body {
    font-family: 'Roboto', sans-serif;
}

.main {
    background-color: #2e3136;
    height: 100vh;
    color: #eee;
}

.container.chart-container {
    width: 1250px;
}

.chart-wrapper {
    position: relative;
    height: 600px;
}

.arrow {
    position: absolute;
    width: 50px;
    height: 50px;
}

.arrow-1 {
    left: 90px;
    bottom: 155px;
}

.arrow-2 {
    left: 130px;
    bottom: 190px;
}

.arrow-3 {
    left: 210px;
    bottom: 275px;
}

.arrow-4 {
    left: 280px;
    bottom: 420px;
}

.arrow-5 {
    left: 560px;
    bottom: 320px;
}

.arrow-6 {
    left: 720px;
    bottom: 230px;
}

.collection-header {
    font-size: 18px;
    font-weight: 700;
    color: #eee;
    margin-top: 15px;
    margin-bottom: 10px;
}

.collection-item {
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: 500;
    color: #eee;
}

.main-heading {
    font-weight: 900;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
    padding-top: 100px;
}

.main-heading .main-text {
    font-size: 90px;
    color: #DB5553;
    line-height: 1;
}

.main-heading .secondary-text {
    font-size: 44px;
    line-height: 1.2;
}

.main-subtitle {
    font-size: 18px;
    padding: 0 calc((100% - 750px)/2);
}

.unemployment-rate {
    min-height: 100vh;
    background: #36393e;
}

#mainChart {
    height: 600px;
    width: calc(100% - 20px);
    position: absolute;
}

.president-photo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.president-photo img {
    max-width: 100%;
}
.annotations-main-title {
    font-size: 18px;
    font-weight: 900;
    color: #eee;
}

.annotations-title.moncris h4 {
    color: #5f969b;
}
.annotations-title.habibi h4 {
    color: #d78158;
}
.annotations-title.gusdur h4 {
    color: #5abd70;
}
.annotations-title.megawati h4 {
    color: #ce7dc1;
}
.annotations-title.sby h4 {
    color: #7289DA;
}
.annotations-title.jokowi h4 {
    color: #da7272;
}

.annotations-title {    
    text-align: center;
}

.annotations-title h4 {
    display: inline-block;
    color: #DB5553;
    font-weight: 900;
    background-color: #eee;
    padding: 10px 15px;
    border-radius: 5px;
}

.annotations-slide {
    height: 530px;
    padding: 10px;
}
.annotations-slide.moncris {
    background-color: #5f969b;
}

.annotations-slide.habibi {
    background-color: #d78158;
}

.annotations-slide.gusdur {
    background-color: #5abd70;
}

.annotations-slide.megawati {
    background-color: #ce7dc1;
}

.annotations-slide.sby {
    background-color: #7289DA;
}

.annotations-slide.jokowi {
    background-color: #da7272;
}

.main-chart-annotations-container {
    height: 530px;
}

.conclusion {
    height: 100vh;
    background: #36393E;
}

.unemployment-map {
    background-color: #2E3136;
    height: 100vh;
}

#map {
    width: 1100px;
    height: 550px;
    margin-left: 50px;
    float: left;
}

.map-control {
    float: left;
    margin-left: 20px;
    font-weight: 700;
    color: #eee;
    font-size: 14px;
    width: 200px;
}

.map-control-title {
    text-align: center;
    color: #eee;
    font-weight: bold;
}

.map-control ul {
    text-align: center;
    padding-left: 0;
}

.map-control li.selected {
    color: #DA7272;
    font-weight: 700;
    font-size: 18px;
}

.map-control li {
    margin-bottom: 5px;
    list-style: none;
    transition: 100ms ease;
}

.map-control li {
    cursor: pointer;
}

#conclusionChart {

}

.conclusion-text {
    font-size: 18px;
    line-height: 1.3;
    color: #eee;
}

.sub-heading {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 34px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
    padding-top: 100px;
    color: #eee;
}


.continue {
    font-weight: 700;
    font-size: 12px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.scroll-down {
    opacity: 1;
    transition: all .5s ease-in 3s;
}

.scroll-down {
    position: absolute;
    bottom: 60px;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    border: 2px solid #eee;
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    transition: all .2s ease-in;
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
  }
}

.arrow img {
  display: block;
  -webkit-animation: arrow 1s both infinite;
  animation: arrow 1.2s ease infinite;
}

 
@keyframes arrow {
    0% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}


.annotations-arrow {
    background: none;
    border: none;
    position: absolute;
    bottom: 100px;
}

.annotations-arrow-prev {
    right: 50px;
}

.annotations-arrow-next {
    right: 20px;
}

.annotations-arrow:before {
    font-family: 'slick';
    color: #d3d3d3;
    font-size: 20px;
}

.annotations-arrow-prev:before {
    content: '←';
}

.annotations-arrow-next:before {
    content: '→';
}

.red-legend{
    width: 25px;
    height: 25px;
    background-color: #d15353;
    border-radius: 100%;
    margin-left: 50px;
}

.red-legend p{
    margin-left: 50px;
}

.green-legend{
    width: 25px;
    height: 25px;
    background-color: #5ABD70;
    border-radius: 100%;
    margin-left: 50px;
}

.green-legend p{
    margin-left: 50px;
}


.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
.info {
    padding: 0px 10px 10px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
.info i{
    margin-top: -5px;
}
.legend-title {
    font: 20px Helvetica;
}
.info-hover {
    top: 30px;
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info-hover h4 {
    margin: 0 0 5px;
    color: #777;
}

path {
    transition: fill 400ms ease-out;
}