body {
    font-family: 'Roboto', sans-serif;
}

.main {
    background-color: #2e3136;
    height: 100vh;
    color: #eee;
}

.container.chart-container {
    width: 1250px;
}

.collection-header {
    font-size: 18px;
    font-weight: 700;
    color: #eee;
    margin-top: 15px;
    margin-bottom: 10px;
}

.collection-item {
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: 500;
    color: #eee;
}

.main-heading {
    font-weight: 900;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
    padding-top: 100px;
}

.main-heading .main-text {
    font-size: 90px;
    color: #DB5553;
    line-height: 1;
}

.main-heading .secondary-text {
    font-size: 44px;
    line-height: 1.2;
}

.main-subtitle {
    font-size: 18px;
    padding: 0 calc((100% - 750px)/2);
}

.unemployment-rate {
    min-height: 100vh;
    background: #36393e;
}

#mainChart {
    height: 550px;
}

.president-photo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.president-photo img {
    max-width: 100%;
}

.annotations-title.moncris h4 {
    color: #5f969b;
}
.annotations-title.habibi h4 {
    color: #d78158;
}
.annotations-title.gusdur h4 {
    color: #5abd70;
}
.annotations-title.megawati h4 {
    color: #ce7dc1;
}
.annotations-title.sby h4 {
    color: #7289DA;
}
.annotations-title.jokowi h4 {
    color: #da7272;
}

.annotations-title {    
    text-align: center;
}

.annotations-title h4 {
    display: inline-block;
    color: #DB5553;
    font-weight: 900;
    background-color: #eee;
    padding: 10px 15px;
    border-radius: 5px;
}

.annotations-slide {
    height: 550px;
    padding: 10px;
}
.annotations-slide.moncris {
    background-color: #5f969b;
}

.annotations-slide.habibi {
    background-color: #d78158;
}

.annotations-slide.gusdur {
    background-color: #5abd70;
}

.annotations-slide.megawati {
    background-color: #ce7dc1;
}

.annotations-slide.sby {
    background-color: #7289DA;
}

.annotations-slide.jokowi {
    background-color: #da7272;
}

.main-chart-annotations-container {
    height: 550px;
}

.conclusion {
    height: 100vh;
    background: #F1F1F2;
}

#conclusionChart {

}

.conclusion-text {
    font-size: 18px;
    line-height: 1.3;
}

.sub-heading {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 34px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
    padding-top: 60px;
    color: #eee;
}


.continue {
    font-weight: 700;
    font-size: 12px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.scroll-down {
    opacity: 1;
    transition: all .5s ease-in 3s;
}

.scroll-down {
    position: absolute;
    bottom: 60px;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    border: 2px solid #eee;
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    transition: all .2s ease-in;
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
  }
}